body{
   -webkit-app-region: drag;
   background-color: rgba(200,200,200,0.8);
}

#grid {
   -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-top: -9px;
    margin-left: -8px;
}
.multiple {
   width: 98vw;
   justify-content: space-between;
   align-content: center;
   padding: 10px;
}
.player {
   -webkit-app-region: no-drag;
}

#starttext {
   margin: 0 auto;
   padding-top: 40%;
   text-align: center;
   font: bold 30px Helvetica, sans-serif;
   color: rgba(100,100,100,0.3);
}
